
    :root {
        --default-padding: 0px;
        --default-margin: 0px;
    }
    
      .body_main {
        background-color:var(--colorGrisClaro);
        font-family: 'Roboto', sans-serif;
        font-size: var(--textoSizeCuerpo);
       
   flex-direction: row;
      }
  
       
      
       .header__main{
        flex-direction: row;
       flex-wrap: wrap;
       /*display: flex; */
       
       }
    
       .header__main__logo--imagen{
        width: 100px;
        margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
       }

    
    
    .body--compra{
   /* padding-top: 10px;
        text-align: center;*/
         font-size: var(--textoSizeDescripciones);
        font-weight: 400;
        text-align: center;
        margin-bottom: 15px;

    }
    .body__nav--texto ul {
     
        list-style-type: none;
    }
    .banner__img{
        width: 100%;
        display:block;
      
    
    }
    .imagen{
       
       
       width: 100%;
        
        
    
    }
    
    .body--compra--lista ul li {
        list-style-type: none;
       
    }
    
    
    
    .body__nav--texto ul li a {
        text-decoration: none;
        color: black;
    }
    
    .burger-menu i {
        background-color: #1259c3;
        color: white;
        display: block;
        max-width: 22px;
        padding: 2px 0;
        border-radius: 8px;
        text-align: center;
        font-size: 13px;
        margin: auto;
        
        
    }
            
    
    
    
    
    .body--busqueda {
        width: 4vw;
        left: 5%;
    }
    
    .form {
        width: 100%;
    }
    /*--------MAIN-----------*/
    .sub--main{
    padding: 2px;
      /*  display: inline-block ;*/
    
    width: 90%;
    /*border: solid 1px #ebebeb;*/
    margin: auto;
    
    }
   /*--- .main__section {
        /* width: 45%; */
        /* text-align: justify; */
      
       
   /*-----     gap: 20px 20px;
    }*/
    
    .main__section{
        width: 100%;
        text-align: justify;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 20px;
        justify-content: space-between;
    }*/
    
    .main__section__producto--precio{
        font-size: 18px;
    }
    .main__section__producto--descuento{
        font-size: 16x;
       
    
    }
    .main__section__producto--descripcion{
    font-size: 16px;
    
    }
    
    
    .fa-truck{
        /*border-bottom: #ebebeb;
            border: 1px solid var(--colorVerde);
            border-radius: 50%;
            color:var(--colorVerde);
            padding: 1%;
            font-size:medium;*/
            display: flex;
            font-size: 16px;
            padding: 5px;
            width: 30px;
            height: 30px;
            border: 1px solid #39b54a;
            background-color: #FFF;
            border-radius: 50%;
            position: absolute;
            right: 20px;
            top: -15px;
        color: green;
        transition: 1s;
    }

        .fa-truck:hover {
            
           
            transform: rotate( 360deg);
         
        }
        
        
        .main__section__producto{
           position: relative;
            padding: 15px;
            border-top: solid #ebebeb 1px;
           background-color: white; 
           /* flex-wrap: wrap;*/
            align-items: center;
           gap: 2px; 
           margin-top: 30px;
        
        box-shadow: 0px 0px 10px rgb(100,100,100);
          margin: 5px 0;
        }
        

   
        
    
    /*------------------------------------footer---------------------------*/
    .footer__main {
        background-color: var(#699);
        color: #666;
       
        padding: 20px 10%;
    
    }
    
    
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .footer__main--piePagina {
       
        text-align: center;
        font-size: 2em;
      margin-bottom: 10px;
      transition: 475ms
    }
    
    
    
    .copyright {
       
        font-size: x-small;
       
        position: absolute;
        bottom: -20px;
        left: 10px;
    }


/*--------------------------------------*/
.formulario {
    padding: 20px 15px;
    background-color: lightgray;
    text-align: center;
}
.control-formulario {
    margin-bottom: 45px;
    text-align: left; 
    margin-left: 10%;
}
.control-formulario h3 {
    margin: -22.5px 0 22.5px;
    display: block;
    text-align: left;
}
.control{
    width: 88.5%;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px var(--light-gray);
}
.radio{
    margin-left: 25px;
}
.radio input{
    margin-right: 25px;
}
.check{
    margin-left: 25px
}
.check input{
    margin: 0 25px 40px 0;
}
.boton-formulario:hover{
    background-color: #0022AA;
}
.boton-formulario{
    width: 50%;
    background-color: #1259c3;
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 450ms;
}
.form__error{
    display: flex;
    position: relative;
}


/*movile
car_pro des{
    height:0;
    width: 100%
    overflow:hidden
    display: none no
    transition:5s


    no card:hover descripciom{
    display:block no 
height:50%
margin-top: 20px

sectio_prod{
alien cont flex star

car_article:hover{
    box-shadon 5 5 10 gris

fas truck:hover{
(base transition 1s)
    tarnsform: rotate(360seg

    tablet
modificar el section
section product{
    height 450px/500

*/







    /*---------------adaptativo----------*/
    /*------------------------------*/
@media(min-width: 320px){
    .body__nav--texto{
        display: none;
    }
    .header__main__logo--imagen{
        position: relative;
    display: block;
    width: 286px;
    }
    .body--compra{
        margin: auto;
        font-size: 10px;
    }
    .main__section__producto{
        margin-top: 15px;
    
      box-shadow:none;
      
    }
            
     .main__section__producto--descripcion{
    display: none;
     }
      

     .form {
        text-align: center;
        /* margin: 36px -6px; */
        position: relative;
        top: -10px;
      /*-*/
     }
      .burger-menu i {
        justify-items: center;
        display: flex;
      }
    
      

      .main__section__producto--descuento{
        color: var(--colorVerde);
      }
      .fa-truck{
       
            display: block;
            font-size: 16px;
            padding: 5px;
            width: 30px;
            height: 30px;
            border: 1px solid #39b54a;
            background-color: #FFF;
            border-radius: 50%;
          /*  position: absolute;*/
            right: 20px;
            top: 83%;
            color:var(green )
        }
      .main__section__producto{
     
      }
}


/*-----------tablet------------*/

@media (min-width: 768px) {
    
    .body--compra{
       
   
    position: relative;
    text-align: end;
    
    position: relative;
    top: -12px;
    font-size: 13px;
}
    



.fa-truck {
    top: -26px;
    
   
 
}
    .body__nav--texto{
       display: flex;
       justify-content: space-between;
       padding-block: 24px;
    }
    .burger-menu i {
        display: none;
    }
    .main__section__producto{
       width: 40%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
        margin-top: 15px;       
        
        
        }

     
    


.main__div{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align:justify;
    position: relative;
    display: flex;
   justify-content: space-between;
   top: 15px;
    flex-direction: column;
}

ul{
    display: flex;
    justify-content: flex-start;
    margin: 0 16px;
}
/*.descrip{
display: none;
}

.descrip:hover{
display: block;
}
.main__section__producto--descripcion:hover{ 
   display: block;
  
   /* margin-block: 10px;
    transition-duration: 1s;
    transform: rotate( 360seg);


}*/

.main__section__producto--descripcion {
    display: block;
   

}
.form {
    text-align: center;
    /* margin: 36px -6px; */
    position: relative;
    top: 18px;
}
.header__main__logo--imagen{

justify-items: baseline;
    position: absolute;
    text-align: center;
    width: 238px;
    top: -6px;
}
         


.header__main{
    /*/display: flex;*/
    position: relative;
}

.footer__main {
    display: flex;
    position: relative;
    background-color: #FFF;
}

}

/*----------------escritorio----------------*/
@media (min-width:1024px) {
    .body__nav--texto{
        display: flex;
        justify-content: space-between;
        font-size: medium;
     }
     .body--compra{
       
   
        position: relative;
        text-align: end;
        
        position: relative;
        top: -12px;
        font-size: 13px;
    }
 
 

    .burger-menu i {
        display: none;
    }

    .main__section__producto{
       
      width: 20%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
              
        margin-top: 15px;
        
        }
       /* .body--compra--lista{
            display: flex;
        
            justify-content: right;
        }*/

       

        .tarjetas{
         display: flex;
         justify-content: flex-start;
                    }
    
       
        
        
    ul{
/* display: flex;
    justify-content: flex-start;*/
}


 
}
         
    
           


